*.pyc
*.so
*.jsonlines
logs
conll-2012
char_vocab*.txt
glove*.txt
glove*.txt.filtered
*.v*_*_conll
*.hdf5
.python-version
ontonotes-release-5.0
.vscode
cased_L-12_H-768_A-12
report.txt
albert
albert_base
bert_cased_L-12_H-768_A-12
xlnet_cased_L-12_H-768_A-12

